<div class="row justify-content-center">
<div class="col-9 border p-1 m-2">
<h1 class="text-center mt-3 m-2 bg-success rounded shadow">My Orders</h1>
<hr />
<div class="m-3">
<table class="table table-striped shadow rounded">
  <thead class="thead-dark">
    <tr>
        <th>Product</th>
        <th>Image</th>
        <th>Total Price</th>
        <th>quantity</th>
        <th>Category</th>
        <th>Brand</th>
    </tr>
</thead>
<tbody>
    <% if ! @orders.empty? %>
        <% @orders.each do |order| %>
          <% order.order_products.each do |ordprod| %>
        <tr>
            <td>
                <%= ordprod.product.title %>
            </td>
            <td>
                  <%= (ordprod.product.image.attached?) ? image_tag(ordprod.product.image, size: "120x100") : "No Image" %>
            </td>
            <td>
              <%= ordprod.quantity*ordprod.product.price %>
            </td>
            <td>
              <%= ordprod.quantity %>
            </td>
            <td>
              <%= ordprod.product.category.name %>
            </td>
            <td>
              <%= ordprod.product.brand.name %>
            </td> 
        </tr>
        <% end %>
      <tr>
        <td colspan="2" class="bg-dark text-center text-white h5">State</td>
        <td colspan="4" class="text-center h5"><%= order.state %></td>
      </tr> 
      <% end %>
    <% else %>
      <tr>
        <td colspan="6" class="text-center h5">No Orders</td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
