<%# Products %>
<div class="row justify-content-center">
    <% if @products.present? %>
        <% @products.each do |product| %>
            <%= link_to product_path(product.id) do %>
                <div class="card col-md-3 mr-4 mb-4 border rounded shadow">
                    <%= (product.image.attached?) ? image_tag(product.image, size: "200x150", class: 'card-img-top mt-2 border') : "No Image" %>

                    <div class="card-body text-center">
                        <h5 class="card-title"><%= product.title %></h5>
                        <p class="card-text"><%= product.price %> EGP</p>
                        <%= link_to "Add Cart", add_cart_path(product.id),method: :post, class: 'btn btn-dark mt-2', data: { confirm: 'Do you want to add ( ' + product.title + ' ) to your cart?'} %>
                    </div>
                </div>
            <% end %>
        <% end %>
    <% else %>
        <p style="text-align: center">No Products Found</p>
    <% end %>
</div>