<div class="products-page container-fluid">
    <div class="row m-1">
        <%= render 'layouts/sidebar'%>
        <div class="main-content col-md-9">
            <div class="container">
                <div class="d-flex flex-wrap justify-content-center mt-5">
                    <span class="px-2 py-1 align-self-center mr-3 d-md-none btn btn-outline-primary" onclick="showSidebar()">
                        <i class="fas fa-filter"></i>
                    </span>
                    <% if current_user && current_user.seller_role? %>
                        <div class="mr-3 align-self-center">
                            <%= link_to "Add Product", new_product_path, class: 'd-inline btn btn-outline-primary' %>
                        </div>
                    <% end %>
                    <%# Search %>
                    <%= form_tag products_path, :method => "get", class: 'search-form flex-nowrap form-inline justify-content-around' do %>
                        <%= text_field_tag :search, params[:search], class: 'form-control mx-1', placeholder: 'Search' %>
                        <%= submit_tag "Search", class: 'btn btn-dark', onclick: 'checkDimensions()' %>
                    <% end %>
                </div>
                <hr>
                <div class="products mb-5">
                    <% if @products.present? %>
                        <%= render @products %>
                    <% else %>
                        <p style="text-align: center">No Products Found</p>
                    <% end %>
                </div>
            </div>
            <div class="apple_pagination">
                <%= will_paginate @products%>
             </div>
        </div>
    </div>
</div>