<div class="container-fluid">
    <div class="row">
        <%= render 'layouts/sidebar'%>
        <div class="main-content col-md-10 mt-5">
            <div class="container">
                <div class="products">
                    <%= render partial: 'products_list', locals: { products: @products }%>
                </div>
                <div>
                    <%# <% if can? :create, Product %>
                        <p><%= link_to "New Product", new_product_path %></p>
                    <%# <% end %>
                    <p><%= link_to "Show Cart", mycart_path%></p>
                    <p><%= link_to "Show Order", myorder_path%></p>

                </div>
            </div>
        </div>
    </div>
</div>