<aside class="d-flex flex-column col-md-2 pt-2" id="sidebar-wrapper">

    <%# Filter %>
    <div class="filter">
        <%= form_tag fetch_products_path ,method: 'get', :remote => true, id: 'category-form' do %>
            <h4 class="bg-info p-1 rounded">Categories</h4>
            <% @categories.each do |category| %>
                <div>
                    <%= check_box_tag "categories[]", category.id %>
                    <%= category.name %>
                </div>
            <%end%>
            <hr>
            <h4 class="bg-info p-1 rounded">Brands</h4>
            <% @brands.each do |brand| %>
                <div>
                    <%= check_box_tag "brands[]", brand.id %>
                    <%= brand.name %>
                </div>
            <%end%>
            <hr>
            <h4 class="bg-info p-1 rounded">Stores</h4>
            <% @stores.each do |store| %>
                <div>
                    <%= check_box_tag "stores[]", store.id %>
                    <%= store.name %>
                </div>
            <%end%>

            <h4 class="bg-info p-1 rounded">Prices</h4>
            <div>
                <%= label_tag 'Min: '%>
                <%= number_field_tag 'price_min' %>

                <%= label_tag 'Max: '%>
                <%= number_field_tag 'price_max' %>
            </div>
            <%= submit_tag "Filter", class: 'btn btn-sm btn-success mt-4 shadow' %>
        <% end %>

    </div>

</aside>