<aside class="d-flex flex-column col-md-2 pt-3" id="sidebar-wrapper">
    <%# Search %>
    <%= form_tag products_path, :method => "get", class: 'form-inline justofy-content-around mb-3' do %>
        <%= text_field_tag :search, params[:search], class: 'form-control mx-2', placeholder: 'Search' %>
        <%= submit_tag "Search", class: 'btn btn-dark' %>
    <% end %>

    <%# Filter %>
    <div class="filter">
        <%= form_tag fetch_products_path ,method: 'get', :remote => true, id: 'category-form' do %>
            <h3>Categories</h3>
            <%= hidden_field_tag(:filter, "category")%>
            <% @categories.each do |category| %>
                <!--<div><%= link_to category.name, products_path(filter: category.name, filterby: "category") %><div>-->
                <div>
                    <%= check_box_tag "categories[]", category.id %>
                    <%= category.name %>
                </div>
            <%end%>

            <h3>Brands</h3>
            <%= hidden_field_tag(:filter, "brand")%>
            <% @brands.each do |brand| %>
                <div>
                    <%= check_box_tag "brands[]", brand.id %>
                    <%= brand.name %>
                </div>
            <%end%>

            <h3>Stores</h3>
            <%= hidden_field_tag(:filter, "store")%>
            <% @stores.each do |store| %>
                <div>
                    <%= check_box_tag "stores[]", store.id %>
                    <%= store.name %>
                </div>
            <%end%>
            <%= submit_tag "Filter", class: 'btn btn-sm btn-dark' %>
        <% end %>

    </div>

</aside>