<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcommerceRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'products', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.min', 'data-turbolinks-track'=> true %>
  </head>

  <body>
    <header class="mb-5">
      <%= render 'layouts/navigation' %>
      <%= render 'layouts/messages' %>
    </header>
    <div class="container border shadow rounded mb-5 p-2">
      <%= yield %>
    </div>
    <footer class="mt-5">
      <br>
      <%= render 'layouts/foot' %>
    </footer>
  </body>

  <script>
    $('input[type=checkbox]').change(function(e) {
      // var url = new URL('http://localhost:3000/products')

      // var params = {filterby:e.target.id, filterValue: e.target.value}
      // url.search = new URLSearchParams(params).toString();

      // // console.log(e)
      // window.location.href = url
      // e.target.checked = true;
      // $('#category-form').submit();
    });
  </script>
</html>

